* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

.game-turn {
    width: 150px;
    height: 50px;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
}

.gameboard-computer-container,
.gameboard-human-container {
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-rows: repeat(10, 40px);
    grid-template-columns: repeat(10, 40px);
    justify-items: center;
    background-color: aqua;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: burlywood;
    border: 1px solid black;
    cursor: pointer;
}

.cell-empty {
    background-color: blue;
}

.cell-full {
    background-color: crimson;
}